.page{
  background-color: #FFE2BC;
  height: 100%;
  width: 100%;
  z-index: 22;
  position: relative;
  padding: 60px 0;
}

.decoration{
  position: absolute;
  height: 40vh;
  width: 100%;
  background: #a682b0;
  z-index: -9;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.description {
  color: #504F9D;
  font-size: 2rem;
  font-weight: 500;
  margin: 20px 0 10px 0;
  text-align: center;
  text-shadow: 2px 2px 4px #c66461;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.cards{
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Media queries */
@media (max-width: 1050px){
  .page{
    padding: 0 0 60px 0;
  }
}

@media (max-width: 800px){
  .description{
    font-size: 1.4rem;
  }
}

@media (max-width: 400px){
  .description{
    font-size: 1.1rem;
  }
}